/*GLOBAL*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --dark_cl: #1D1D1D;
    --orange_cl: #FF8B4A;
    --brown_cl: #4B3C34;
    --white_cl: rgb(255, 255, 255);
}

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header, img nav{
    padding: 20px;
    text-align: center;
    background-color: var(--dark_cl);
}

header img{
    margin-top: 20px;
    margin-bottom: 30px;
    border: 4px dashed var(--orange_cl);
    border-radius: 50%;

}

nav a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    transition: background-color 0.2s;
    border-radius: 4px;
}

nav a:hover{
    background-color: var(--orange_cl);
}

.marked{
    background-color: var(--orange_cl);
    padding: 5px;
}

/*MAIN*/

#carousel{
    background-color: var(--dark_cl);
    width: 100%;
    height: auto;
}

.carr{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.carr .botao{
    background-color: #FF8B4A;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    width: 32px;
}

#carousel article img{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    width: 1345;
    height: auto;
}

/*HORÁRIOS*/

#schedules{
    background-color: var(--brown_cl);
    width: 100%;
    height: 600px;
    position: relative;
}

.container{
    background-color: var(--dark_cl);
    width: 70%;
    padding: 60px;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

h1{
    color: var(--orange_cl);
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.cards{
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cards article{
    background-color: var(--white_cl);
    color: var(--brown_cl);
    width: 270px;
    height: 100px;

    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 60px 10px 60px 10px;
    margin: 10px;

    border-radius: 10px;
    border: 3px dashed var(--orange_cl);
}

.cards h3{
    color: var(--orange_cl);
}

.cards p{
    margin-top: 20px;
    font-weight: 600;
}

.cards .first{
    width: 400px;
}

strong{
    color: var(--orange_cl);
}

.cards .first b{
    background-color: var(--orange_cl);
    padding: 2px 20px 2px 20px ;
}

.btn{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.btn .agendar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange_cl);
    border-radius: 10px;
}

.btn .obs{
    display: block;
}


.obs{
    padding: 0px 20px 0px 20px;
}

.btn h4{
    color: var(--white_cl);
}

.btn span{
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}

.btn img{
    width: 42px;
    margin-left: 20px;
}

.btn a{
    text-decoration: none;
    color: var(--white_cl);
    font-weight: 600;
    width: 270px;
    padding: 6px;
    transition: background-color 0.2s;
}

.btn a:hover{
    background-color: #ffa36e;
}

/*GALERIA*/

#gallery{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--dark_cl);
}

#gallery img{
    width: 330px;
    height: 340px;
}

.cortes{
    display: flex;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    width: 70%;     

    margin: 0 auto;
}

.cortes img{
    padding: 0px 2px 0px 2px;
    border: 4px solid rgba(245, 222, 179, 0);
    transition: border 0.2s;
    border-radius: 10px;
}

.cortes img:hover{
    border: 4px dashed var(--orange_cl);
}

/*SOBRE*/

#about{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--brown_cl);
}

.info{
    width: 70%;
    margin: 0 auto;
    background-color: var(--dark_cl);
    border-radius: 10px;
    padding: 60px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about h4{
    background-color: var(--orange_cl);
    width: 270px;
    padding: 6px;
    text-align: center;
    color: var(--brown_cl);
}

#about .card{
    background-color: var(--white_cl);
    padding: 20px;
    border-radius: 10px;
    border: 4px dashed var(--orange_cl);
    width: 370px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
}


#about .alisson{
    border-radius: 10px;
    width: 540px;
}

#about h3, #about p{
    color: var(--white_cl);
    font-size: 20px;
    width: 400px;
    margin: 0 auto;
}

#about .info .content {
    display: block;
}

.info_2{
    padding: 220px;
}

.info .content{
    margin-bottom: 20px;
}

.info .content p{
    padding-top: 30px;
    padding-bottom: 30px;
}


footer{
    background-color: var(--dark_cl);
    width: 100%;
 
    bottom: 0;
}

/*FOOTER*/

#bot {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: safe;
    justify-content: space-evenly;
    
    padding: 60px 0px 60px 0px;
}

#bot h3{
    margin-bottom: 10px;
    color: var(--orange_cl);
}


.left_content{

    height: 75px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}

.left_content span{
    margin-left: 12px;
    margin-right: 60px;
    font-size: 24px;
    font-weight: bold;
    color: var(--white_cl);
}

.left .btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .btn a{
    width: 100%;
}

.insta{
    margin-right: 16px;
}

.left_content img{
    width: 42px;
}

.right iframe{
    width: 600px;
    height: 210px;
}

/*Media queries*/

/*Header*/

@media (max-width: 1600px) {
    #bot{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .right{
        width: 100%;
        margin: 40px auto;
    }

    .right iframe{
        width: 100%;
    }

    .info{
        width: 80%;
    }¨

    .container{
        width: 90%;
    }

    #carousel article img{
        width: 1050px;
        height: auto;
    }
}

@media (max-width: 1370px) {
    .cards .first b{
        background-color: var(--orange_cl);
        padding: 2px;
        text-align: center;
    }

    #about .info{
        text-align: center;
        flex-direction:column-reverse
    }

    #about .alisson{
        margin-bottom: 30px;
    }

    #about h4{
        width: 370px;
        margin: 30px auto;
    }

    #about .card{
        margin: 0 auto;
    }

    #about .alisson{
        border-radius: 10px;
        width: 400px;
    }

    #carousel article img{
        width: 850px;
        height: auto;
    }

}

@media (max-width: 1200px) {
    
    .cards{
        font-size: 16px;
        flex-wrap: wrap;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cards article{
        width: 400px;
        padding: 10px;
    }
    
    #schedules{
        background-color: var(--brown_cl);
        width: 100%;
        height: 1000px;
        position: relative;
    }

    .btn{

        flex-wrap: wrap-reverse;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        padding: 0px;
    }

    .btn .agendar{
        width: 400px;
    }

    .cards .first b{
        background-color: var(--orange_cl);
        padding: 0px;
        text-align: center;
    }

    
    .cortes img{
        width: 250px;
    }
    
    #carousel article img{
        width: 650px;
        height: auto;
    }

    .obs{
        padding: 30px 20px 0px 20px;
    }

}

@media (max-width: 768px) {

    nav a{
        margin: 8px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        padding: 6px 30px 6px 30px;
        transition: background-color 0.2s;       
        display: block;
        width: 200px;
        margin: 6px auto;
        
    }

    .cards{
        font-size: 14px;
        flex-wrap: wrap;
    }
        
    strong{
        color: var(--orange_cl);
    }
    
    #about .alisson{
        border-radius: 10px;
        width: 400px;
    }

    .info{
        width: 90%;
    }

    .container{
        width: 90%;
    }
    
    
    .btn img{
        width: 32px;
        margin-left: 20px;
    }
    
    .btn a{
        text-decoration: none;
        color: var(--white_cl);
        font-weight: 600;
        width: 270px;
        padding: 6px 40px ;
        transition: background-color 0.2s;
    }
    
    .btn a:hover{
        background-color: #ffa36e;
    }

    
    .cortes img{
        width: 220px;
    }

    #carousel article img{
        width: 550px;
        height: auto;
    }

}

@media (max-width: 645px) {
    .cortes img{
        width: 350px;
    }

    .cards .first{
        font-size: 12px;
    }

    #gallery img{
        width: 340px;
    }

    #carousel article img{
        width: 450px;
        height: auto;
    }
    .carr .botao{
        display: none;
    }
}


@media (max-width: 520px) {

    header{
        padding: 30px;
    }

    header img{
        width: 150px;
        margin-bottom: 10px;
    }


    #about .alisson{
        border-radius: 10px;
        width: 300px;
    }

   a .agendar{
        width: 1600px;
    }
    
    .left_content{
        display: block;
        align-items: center;
        margin: 0 auto;
    
    }

   #about .card,#about p, #about h4, #about h3{
        width: 250px; 
        margin: 10 auto; 
        font-size: 15px;
        display: block;
        
    }
    #about p{
        margin-top: 30px;
    }
    .card article{
        padding: 20px;      
    }

    .right{
        text-align: center;
    }

    #about{
       width: 100%;
       margin: 0 auto;
    }

    .left{
        display: flex;
        align-items: center;
        
        flex-direction: column;
        
    }
   
    #carousel article img{
        width: 350px;
        height: auto;
    }

}

@media (max-width: 350px) {
    #carousel article img{
        width: 100%;
        height: auto;
    }  
}